<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hypothesis Annotation Widget</title>
  <link rel="stylesheet" href="index.css" />
</head>
<body>
  <a href="http://github.com/BigBlueHat/annotation-tag">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
  </a>

  <div id="create-form">
  <input type="url" v-model="url" placeholder="URL of an annotation"
         value="https://hypothes.is/api/annotations/Kw4GxoV8QI-tudW02qbsmQ" />
  <button v-on="click: addUrl">add</button>
  </div>

<annotation href="https://hypothes.is/api/annotations/Gk_TW9d_SyCG5cFH4UCy9A"></annotation>

<template id="annotation-template">
  <aside v-if="annotation.id" vocab="http://www.w3.org/ns/oa#" typeof="Annotation" about="https://hypothes.is/a/{{annotation.id}}">
  <header>
  <a property="annotatedBy" href="https://hypothes.is/u/{{username}}">{{username}}</a>
on <a property="hasTarget" typeof="SpecificResource" href="{{target.source}}">
    <span property="hasSelector" typeof="TextQuoteSelector" resource="#quote"></span>
    {{annotation.document.title}}
    </a>
  </header>
<blockquote id="quote" about="#quote" cite="{{target.source}}"><span property="exact">{{quote}}</span></blockquote>
  <section property="hasBody">
  <p>{{annotation.text}}</p>
  </section>
</aside>
</template>
<script src="dist/annotator-tag.js"></script>
</body>
</html>
